<section>
    Um simples projeto para gerenciar reuniões diárias da metologia ágil Scrum. <br>
</section>

<!-- SOBRE O PROJETO -->
<section>
    <h2>Sobre o Projeto</h2>
    <p>
        As reuniões diárias do Scrum, conheciadas como <span>Daily</span>, são reuniões qure ocorrem todos os dias com intuito de cada membro da equipe informa como anda o seu trabalho.
        O SGRDS vem para facilitar esse trabalho através de formulários para criar registros da daily e relatórios para vizualizar esses registros.
    </p>
</section>

<!-- TECNOLOGIAS -->
<section>
    <h2>Tecnologias Utilizadas</h2>
    <div>
        O projeto foi divido em duas partes, sendo elas: <br>
        <div>
            <h3>Front-end</h3>
            <div>
                Parte visual do site, responsável pela interação com usuário. Dentre as tecnologias usadas temos:
                <ul>
                    <li><span>Angular:</span> Proderoso framework Front-end desenvolvido originalmente pela google, sendo hoje uma das tecnologias mais utilizadas no lado cliente da aplicação.</li>
                    <li><span>TypeScript:</span> Linguagem de programação que adiciona tipagem forte ao JavaScript em tempo de produção.</li>
                    <li><span>Bootstrap:</span> Um Framework Front-end que tem como foco a estilização do site usando de regras CSS e JavaScript para iteração.</li>
                </ul>
            </div>
        </div>
        <div>
            <h3>Back-end</h3>
            <div>
                Parte da aplicação responsável por ser execultada no servidor e interagir com o banco de dados.
                <ul>
                    <li><span>Spring Boot:</span> Robusto Framework Back-end escrito em Java que facilita o desenvolvimento de aplicações em Spring.</li>
                    <li><span>MySQL:</span> Banco de Dados Relacional comumente utilizado na web que usa da linguagem SQL para realizar consultas e comandos ao banco de dados.</li>
                </ul>
            </div>
        </div>
    </div>
</section>