<div class="container my-2">
    <!-- BREVE APRESENTAÇÃO -->
    <section class="my-2 p-2 bg-dark rounded">
        <div class="fs-5 text-center text-white">
            Um simples projeto para gerenciar reuniões diárias da metologia ágil Scrum. <br>
        </div>
    </section>
    
    <!-- SOBRE O PROJETO -->
    <section class="my-2 p-2 bg-dark rounded">
        <h2 class="text-white">Sobre o Projeto</h2>
        <p class="text-white">
            As reuniões diárias do Scrum, conheciadas como <span>Daily</span>, são reuniões qure ocorrem todos os dias com intuito de cada membro da equipe informa como anda o seu trabalho.
            O SGRDS vem para facilitar esse trabalho através de formulários para criar registros da daily e relatórios para vizualizar esses registros.
        </p>
    </section>
    
    <!-- TECNOLOGIAS -->
    <section class="my-2 p-2 bg-dark rounded">
        <h2 class="text-white">Tecnologias Utilizadas</h2>
        <div class="text-white">
            O projeto foi divido em duas partes, sendo elas:
            <hr>

            <!-- FRONT-END -->
            <div class="my-2">
                <h3 class="m-0">Front-end</h3>
                <div>
                    Parte visual do site, responsável pela interação com usuário. Dentre as tecnologias usadas temos:
                    <ul class="m-0">
                        <li><span class="fw-bold">Angular:</span> Proderoso framework Front-end desenvolvido originalmente pela google, sendo hoje uma das tecnologias mais utilizadas no lado cliente da aplicação.</li>
                        <li><span class="fw-bold">TypeScript:</span> Linguagem de programação que adiciona tipagem forte ao JavaScript em tempo de produção.</li>
                        <li><span class="fw-bold">Bootstrap:</span> Um Framework Front-end que tem como foco a estilização do site usando de regras CSS e JavaScript para iteração.</li>
                    </ul>
                </div>
            </div>
            <hr>

            <!-- BACK-END -->
            <div class="m-2">
                <h3 class="m-0">Back-end</h3>
                <div>
                    Parte da aplicação responsável por ser execultada no servidor e interagir com o banco de dados.
                    <ul class="m-0">
                        <li><span class="fw-bold">Spring Boot:</span> Robusto Framework Back-end escrito em Java que facilita o desenvolvimento de aplicações em Spring.</li>
                        <li><span class="fw-bold">MySQL:</span> Banco de Dados Relacional comumente utilizado na web que usa da linguagem SQL para realizar consultas e comandos ao banco de dados.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>