<div class="container my-2">
    <!-- DAILIES -->
    <section class="my-2 p-2 bg-dark rounded">
        <h2 class="text-white">Lista de Daily's</h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Integrante</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">15/10/2025</td>
                    <td>Paulo Sócrates de Souza Pinheiro</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-outline-light px-4 fw-bold">Detalhar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Editar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Copiar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">15/10/2025</td>
                    <td>Anthony Guilherme Vieira Moraes</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-outline-light px-4 fw-bold">Detalhar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Editar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Copiar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">15/10/2025</td>
                    <td>João Pedro Souza Fraga</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-outline-light px-4 fw-bold">Detalhar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Editar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Copiar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">15/10/2025</td>
                    <td>Marcos Antônio da Silza Almeida</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-outline-light px-4 fw-bold">Detalhar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Editar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Copiar</button>
                    </td>
                </tr>
                <tr>
                    <td scope="row">15/10/2025</td>
                    <td>Vinícius Santos Leite</td>
                    <td class="d-flex gap-3">
                        <button class="btn btn-outline-light px-4 fw-bold">Detalhar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Editar</button>
                        <button class="btn btn-outline-light px-4 fw-bold">Copiar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>